/.idea/jarRepositories.xml
/.idea/encodings.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
.idea
.mvn
*.iml
*.iws
.project
.classpath
.settings
orbtrc.*.txt
**/target
**/webapp/js
**/logs/*
!.gitkeep
**/node_modules/
**/web/node/
**/bower_components/
**/dist.dev/
**/dist.prod/
**/tmp
*.log
/compiler.xml
.gitignore


